<!-- CSS Styles -->
<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
<link href='~/packages/fullcalendar-4.0.2/packages/core/main.css' rel='stylesheet' />
<link href='~/packages/fullcalendar-4.0.2/packages/daygrid/main.css' rel='stylesheet' />
<link href='~/packages/fullcalendar-4.0.2/packages/bootstrap/main.css' rel='stylesheet' />

<!--JS-->
<script src='~/packages/fullcalendar-4.0.2/packages/core/main.js'></script>
<script src='~/packages/fullcalendar-4.0.2/packages/daygrid/main.js'></script>
<script src='~/packages/fullcalendar-4.0.2/packages/bootstrap/main.js'></script>

<div id="calendar"></div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        //alert("HERE");
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid', 'bootstrap' ],
            timeZone: 'UTC',
            themeSystem: 'bootstrap',
            header: {
                left: 'prev,next,today',
                center: 'title',
                right: ''
            },
            //weekNumbers: true,
            eventLimit: true, // allow "more" link when too many events
            //events: 'https://fullcalendar.io/demo-events.json'
        });

        calendar.render();
    });
</script>
