<!-- CSS Styles -->
<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
<link href='~/packages/fullcalendar-4.0.2/packages/core/main.css' rel='stylesheet' />
<link href='~/packages/fullcalendar-4.0.2/packages/daygrid/main.css' rel='stylesheet' />
<link href='~/packages/fullcalendar-4.0.2/packages/bootstrap/main.css' rel='stylesheet' />
<style>
    reserved {
        display:inline-block;
        height:150px;
        background-color:red;
    }
</style>

<!--JS-->
<script src='~/packages/fullcalendar-4.0.2/packages/core/main.js'></script>
<script src='~/packages/fullcalendar-4.0.2/packages/daygrid/main.js'></script>
<script src='~/packages/fullcalendar-4.0.2/packages/bootstrap/main.js'></script>

<div id="calendar"></div>

<script type="text/javascript">
    var events = [
        {
            id: '730e9820-20f9-4b6a-a0d0-af0156c83b9b',
            allDay: true,
            start: '2019-04-14 00:00:00',
            end: '2019-04-21 00:00:00',
            title: 'Herrick and Fiona',
            className: 'reserved'
        },
        {
            id: '47B08454-B3E7-4032-883B-1EF119067BE9',
            allDay: true,
            start: '2019-04-21',
            end: '2019-04-28',
            title: 'Issac'
        }
    ];
    document.addEventListener('DOMContentLoaded', function () {
        //alert("HERE");
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid', 'bootstrap' ],
            timeZone: 'UTC',
            themeSystem: 'bootstrap',
            header: {
                left: 'prev,next,today',
                center: 'title',
                right: ''
            },
            //weekNumbers: true,
            eventLimit: true, // allow "more" link when too many events
            //events: 'https://fullcalendar.io/demo-events.json'
            events: events
        });

        calendar.render();
    });
</script>
