@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Email:</strong> <a href="@Model.EmailLink">@Model.Email</a><br />
</address>
